.search{
    display: block;
    margin: 0 auto;
    max-width: 1600px;
    width: 1600px;
}
.search_inner{
    display: block;
    padding: 180px 215px 215px 215px;
}
.left_section ul{
    list-style-type: none;
    margin: 0;
    -webkit-padding-start: 0px;
}
.left_section ul li{
    font-family: 'Alegreya Sans';
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    text-align: left;
    max-width: 263px;
}
.left_section ul li a{
    text-decoration: none;
    color: #000000;
    display: block;
    padding: 14px 16px;
    border-left: 4px solid transparent;
    -webkit-transition: background-color ease-in-out 0.3s;
    -o-transition: background-color ease-in-out 0.3s;
    transition: background-color ease-in-out 0.3s;
}
.left_section ul li a:hover{
    background-color: #f1f1f1;
    border-left: 4px solid #ff5448;
    -webkit-transition: background-color ease-in-out 0.3s;
    -o-transition: background-color ease-in-out 0.3s;
    transition: background-color ease-in-out 0.3s;
}

.middle h6{
    font-size: 40px;
    text-align: left;
    line-height: 38px;
    color: #000;
    font-family: 'Roboto Condensed';
    font-weight: bold;
    margin: 0 0 30px 0;
}
.middle input{
    width: 458px;
    height: 56px;
    border: 1px solid #000;
    padding: 15px 40px 15px 16px;
    font-family: 'Alegreya Sans';
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: #b8b8b8;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-position: 97% 16px;
    background-size: 25px 25px;
    margin-bottom: 56px;
    outline: none;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: 'Alegreya Sans';
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: #b8b8b8;
}
::-moz-placeholder { /* Firefox 19+ */
    font-family: 'Alegreya Sans';
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: #b8b8b8;
}
:-ms-input-placeholder { /* IE 10+ */
    font-family: 'Alegreya Sans';
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: #b8b8b8;
}
:-moz-placeholder { /* Firefox 18- */
    font-family: 'Alegreya Sans';
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: #b8b8b8;
}
.middle ul{
    width: 458px;
    list-style-type: none;
    margin: 0;
    -webkit-padding-start: 0px;
}
.middle ul li{
    display: block;
    padding: 22px 0;
    width: 100%;
    border-bottom: 1px solid #b0b0b0;
}
.middle .dots{
    display: inline-block;
    max-width: 30px;
    vertical-align: middle;
    text-align: right;
    float: right;
    margin-top: -14px;
}
.middle .dots li{
    display: inline-block;
    padding: 0;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #bdbdbd;
    margin: 0 2px;
    -webkit-transition: background-color ease-in-out .4s;
    -o-transition: background-color ease-in-out .4s;
    transition: background-color ease-in-out .4s;
}
.middle .dots:hover li{
    background-color: #000;
    -webkit-transition: background-color ease-in-out .4s;
    -o-transition: background-color ease-in-out .4s;
    transition: background-color ease-in-out .4s;
}
.middle ul li div{
    display: inline-block;
    width: calc(100% - 72px);
    vertical-align: top;
    padding: 10px 0 0 30px;
}
.middle ul li div h6{
    font-family: 'Alegreya Sans';
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: #000000;
    line-height: 24px;
    margin-bottom: 4px;
    display: inline-block;
    width: 60%;
}
.middle ul li div p{
    font-family: 'Alegreya Sans';
    font-size: 16px;
    text-align: left;
    color: #7c7c7c;
    display: inline-block;
    width: 60%;
}
.field .field_name{
    font-family: 'Alegreya Sans';
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color: #000;
    margin-bottom: 8px;
    max-width: 150px;
}
.field div{
    overflow: hidden;
    height: 40px;
    width: 165px;
    background-image: url(../img/arrow.jpg);
    background-repeat: no-repeat;
    background-position: 93% 16px;
    background-size: 12px 8px;
    margin-bottom: 24px;
   }
.field div select{
    border-radius: 0;
    background: transparent;
    height: 40px;
    width: 165px;
    border: 1px solid #000;
    font-family: 'Alegreya Sans';
    font-size: 16px;
    text-align: left;
    color: #666;
    outline: none;
    padding-left: 12px;
    -webkit-appearance: none;
}
.raiting input{
    display: inline-block;
    width: 68px;
    height: 40px;
    border: 1px solid #000;
    color: #000;
    font-family: 'Alegreya Sans';
    font-size: 16px;
    text-align: center;
    outline: none;
}
.raiting span{
    display: inline-block;
    height: 20px;
    width: 14px;
    vertical-align: top;
    border-bottom: 1px solid #000;
    margin: 0px 3px;
}
.number span{
    display: inline-block;
    height: 2px;
    position: relative;
}
.number span::after{
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #ff5448;
    position: absolute;
    right: -14px;
    top: -6px;
}
.number{
    margin: 9px 0 46px 0;
}
.number .grey{
    background-color: #c7c7c7;
    width: 75px;
}
.number .orange{
    background-color: #ff5448;
    width: 71px;
}
.checkbox label{
    padding-left: 0;
    font-family: 'Alegreya Sans';
    font-size: 16px;
    margin-bottom: 40px;
}
input[type=checkbox]{
    display: none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:16px;
    height:16px;
    margin: -1px 19px 0px 0px;
    vertical-align:middle;
    background-color: #fff;
    border-radius: 0;
    cursor:pointer;
    border: 1px solid #000;
}
input[type="checkbox"]:checked + label span {
    background-color: #ff5448;
    border: 1px solid #ff5448;
    background-image: url(../img/check.jpg);
    background-position-y: -1px;
}
input[type="checkbox"] + label pre{
    display: block;
    padding: 0; 
    margin: -3px 0 0 36px;
    font-size: 16px; 
    line-height: 20px; 
    color: #000; 
    word-break: break-all; 
    word-wrap: break-word; 
    background-color: transparent; 
    border: none; 
    border-radius: 0; 
    font-family: 'Alegreya Sans';
}
.button{
    display: block;
    width: 165px;
    height: 40px;
    color: #000;
    background-color: #fff;
    font-family: 'Alegreya Sans';
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    border: 1px solid #000;
    outline: none;
    margin-bottom: 27px;
}
.button_orange{
    color: #fff;
    background-color: #ff5448;
    border: 1px solid #ff5448;
}
/*.button:hover{
    color: #fff;
    background-color: #ff5448;
    transition: all ease-in-out .4s;
    border: 1px solid #ff5448;
}*/